* {
    outline: 0 !important;
}

html,
body {
    background: #F7F7F7 !important;
}

body {
    overflow-y: scroll !important;
}

.c-configure {
    margin: 20px 10px !important;
}

.c-main {
    margin: 20px 10px !important;
    height: calc(100vh - 40px) !important;
}
.c-main .segment {
    overflow-y: auto !important;
    justify-content: flex-start !important;
    height: 79vh;
}
.c-main .segment p {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}
.c-main .segment p strong {
    color: #f00;
}
.c-main .segment p strong.timestamp {
    color: #3531ff;
}

.ui.selection.dropdown {
    min-height: 28px;
    padding: .22619048em 2.1em .22619048em .35714286em;
    line-height: 28px;
    max-width: 93%;
}

.app-link {
    text-decoration: underline;
    cursor: pointer;
    color: #1f80ea;
}